*{
    margin: 0;
    padding: 0;
}
body {
    height: 1000px
}

.parallax {
    /* The image used */
    background-image: url("img/sapimakan.png");
  
    /* Set a specific height */
    
    min-height: 400px; 
    font-weight: bold;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    
    width: 100%;
    z-index: 5;
    /* margin: top 10px; */
    background-color: #5c2f27ae ;
   

}

.collapse a{
    color: #ffff;
}

.container h3 {
    color: red;
}
.home_main_button{
    margin-top:-90px;
}

.home_main_button > div {
    background-color: #DBA75B;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding:10px;
    
    flex-direction: row;
}

.parallax_text {
    margin-left: 50px;
    padding-top: 120px;
    /* margin-top:70px; */
}
.parallax_text h1{
    font-size: 50px;
    font-weight: bold;
}

.login_bar {
    width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color:rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 6;

}
.regis_bar {
    width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color:rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 6;

}

.login_bar span,.regis_bar span{
    position: absolute;
    top: 10%;
    right: 35%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.login_bar form,.regis_bar form{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 50px;
  }

.header_title {
    display: flex;
    flex-direction: row;
    margin-top:50px;
    
}

.header_item {
    margin-right: 10px;
}
.video_page {
    margin-top: 50px;
}

.main_video {
    background-image: url("img/bgsirkel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    display:flex;
    justify-content: center;
}

.other_video {
    display:flex;
    justify-content: center;
}


.list_video {
    background-image: url("img/listbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 10px;
    width: 90%;
    margin: 25px;
    margin-left:0;
    margin-right:80px;
}

.list_video h4{
    color: #fff;
    text-align:center;
}

.list_video h5 {
    color: rgb(184, 184, 184);
}


.item_list {
    display: flex;
    flex-direction: row;
}