*{
    margin: 0;
    padding: 0;
}
body {
    height: 1000px
}

.parallax {
    /* The image used */
    background-image: url("img/sapimakan.png");
  
    /* Set a specific height */
    
    min-height: 400px; 
    font-weight: bold;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{

    width: 100%;
    z-index: 5;
    /* margin: top 10px; */
    background-color: #5c2f27ae ;


}

.collapse a{
    color: #ffff;
}

.container h3 {
    color: red;
}
.home_main_button{
    margin-top:-90px;
}

.home_main_button > div {
    background-color: #DBA75B;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding:10px;
    
    flex-direction: row;
}


.login_bar {
    width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color:rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 6;

}
.regis_bar {
    width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color:rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 6;

}

.login_bar span,.regis_bar span{
    position: absolute;
    top: 10%;
    right: 35%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.login_bar form,.regis_bar form{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 50px;
  }

.header_title {
    display: flex;
    flex-direction: row;
    margin-top:50px;
    
}

.market_header_img {
    background-image: url("img/wedus.png");
    width: 100%;
    min-height: 500px; 
    font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_item {
    margin-right: 10px;
}

.market_search {
    margin-top: 20px;
    width: 50%;

}

.input-group {
    margin-left: 100%;
}

.market_filter {
    margin-top:80px;
    /* display:flex;
    flex-direction: row; */
    margin: 10px;
}

.market_category {
    /* display: flex;
    flex-direction: row; */
    margin-top:100px;
   
}

.market_category a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    /* margin-left:35px; */
    background-color: #9a763f;
    padding: 10px;
    border-radius: 5px;
}

.cate {
    display: flex;
    flex-direction: row;
    margin-bottom:20px
}

.market_checklist {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    border-radius: 10px;
    padding: 15px;
    /* margin-left: 30px; */
}

.check_list_item {
    display: flex;
    flex-direction: row;
}

.market_Lokasi,.market_toko {
    margin: 20px;
}


.market_main_product {
    display: flex;
    flex-direction: row;
    /* overflow: auto;
    white-space: nowrap; */
    
}

.market_main_product .card {

    margin: 10px;
}


/* .market_main_product > div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
} */

.market_container {
    display: flex;
    margin-top:100px;
    width: 100%;
    overflow:scroll;
}



